.features{
    padding-top: 150px;
    max-width:1440px;
    // border: 1px solid black;
    margin: 0 auto;
    text-align: center;
}
.features__slogan{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 77px;
    text-align: center;
    color: #000000;
    margin-bottom: 60px;

}

.features__text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #696969;
    padding-bottom: 60px;
}

.features__card{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 50px;
}


.features__img{
    max-width:130px;
    max-height:130px;
}

.features__card-slogan{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #000000;
    

}

.features__h4{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #696969;
    margin-top: 100px;
    margin-bottom: 100px;

}

.features__button{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    width: 320px;
    height: 80px;
    background: #FBFBFB;
    border: 1px solid #DFDFDF;
    border-radius: 25px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    margin: 0 auto;
    text-decoration: none;
}
.features__button span{
    margin-right: 5px;
}
@media (max-width: 1440px) {
    .features__card-{
        justify-content: center;
    }
    .features__card-item{
        width: 50%;
        margin-bottom: 50px;
    }
}
@media (max-width:700px) {
    .features__slogan{
        font-size: 40px;
        line-height: 55px;
    }
    .features__text{
        font-size: 25px;
        line-height: 30px;
    }
}