.features{
    padding-top: 50px;
    max-width:1440px;
    // border: 1px solid black;
    margin: 0 auto;
    text-align: center;
}
.features__slogan{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 77px;
    text-align: center;
    color: #000000;
    margin-bottom: 50px;

}

.features__text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #696969;
    padding-bottom: 50px;
}

.features__card{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    
}


.features__img{
    max-width:130px;
    max-height:130px;
}

.features__card-slogan{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #000000;
    

}

.features__h4{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #696969;

}

.features__button{
    margin-top: 50px;
    color: #000000;
    width: 280px;
    height: 47px;
    background: #FBFBFB;
    border: 1px solid #DFDFDF;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
}

@media (max-width: 900px) {
    .features__card{
        flex-direction: column;
    }
    }