.note{
   text-align: center;
   margin-top: 150px; 
   margin-bottom: 150px;
}
.note .container{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}
.note__slogan{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 77px;
    text-align: center;
    color: #000000;
    margin-bottom: 50px;
}
.note__text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #696969;
    max-width: 1040px;
    margin: 0 auto 50px auto;
}

.note__list{
    display: flex;
    justify-content: space-between;
    min-height: 70vh;
}

.note__item:last-child{
    width: 50%;
   
}
.note__item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.note__item:first-child{
    text-align: center;
    display: flex;
    flex-grow: 1;
}
.note__item:first-child ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 25px;
}
.note__decoration{
    max-width: 200px;
    width: 100%;
    background: #9071FF;
}

.note__item ul li{
    list-style-type: none;

    z-index: 300;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #696969;
    
}


@media (max-width: 1400px){
    .note__list{
        flex-direction: column-reverse;
    }
    .note__item:last-child{
        width: 100%;
        height: 300px;
    }
    .note__item:first-child{
        width: 100%;
        flex-direction: column-reverse;
    }
    .note__decoration{
        display: none;
    }
    .note__item:first-child ul{
        flex-grow: 1;
        height: fit-content;
    }
    .note__item:first-child li{
        padding: 45px 0;
    }
}
@media (max-width:700px) {
    .note__slogan{
        font-size: 40px;
        line-height: 55px;
        width: 100%;
    }
    .note__text, .note__item ul li{
        font-size: 25px;
        line-height: 30px;
    }
}