.price{
    text-align: center;
    max-width:1040px;
    margin: 100px auto;
}

.price__slogan{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 77px;
    text-align: center;
    color: #000000;
    margin-bottom: 50px;
     
}

.price__text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #696969;
    margin-bottom: 50px;
}

.price__list{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.price__list-item{
    margin-bottom: 30px;
}

.price__img{
    width: 433px;
    height: 278px;
}
.price__item--text{
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #696969;
}


@media (max-width: 900px) {
    .price__list{
        flex-direction: column;
    }

    .price__img{
        width:70%;
        height: 80%;
    }
}

@media (max-width:700px) {
    .price__slogan{
        font-size: 40px;
        line-height: 55px;
    }
    .price__text{
        font-size: 25px;
        line-height: 30px;
    }
}